@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  //font-family: Roboto;
}

button:focus {
  outline: none
}

:root {
  --cf-border-radius: 0.125rem;
  --va-modal-z-index: 99;
}
